.section-title {
    width: 100%;
    font-size: 19px;

}

.section-subtext {
    width: 100%;
    font-size: 11px;
    color: #aeaeae;
    margin-bottom: 25px;
    ;
}

.settings-section {
    padding: 15px;
}

.section-form {
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 10px;

    &>div {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
}

.form-content {

    .row {
        width: 100%;
        display: grid;
        grid-template-columns: 50px 200px auto;
    }
}

.generic-row {
    &.row {
        display: grid;
        gap: 10px;
        align-content: flex-end;
        grid-template-columns: repeat(8, 200px);
    }
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.section-form .picture-list {
    max-height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #00000000;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.react-page {
    .row {
        display: grid;
    }
}

.menu-element-row.row {
    grid-template-columns: 50px 150px 200px 100px 150px 150px 300px;

}

.social-home-row.row {
    grid-template-columns: 50px 200px 300px 300px;

    &>div {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

    }


    label {
        margin: 0;
        padding: 0;
        width: 100%;
    }

}

.banners-row.row {
    grid-template-columns: 50px 150px 200px auto 200px 150px 200px 300px;

}

.sliders-row.row {
    grid-template-columns: 50px 200px 250px 100px 300px auto;
}

.selected-banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}