.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  margin: 0 auto;
  top: 100px;
  min-height: 200px;
  z-index: 100;
}

.file-upload-form {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.picture-list {
  margin-top: 15px;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.picture-container {
  max-height: 300px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  overflow: hidden;
}
.picture-container .img-container {
  max-height: 250px;
  overflow: hidden;
}
.picture-container .overlay {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background-color: rgba(235, 235, 235, 0.6666666667);
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.picture-container .overlay div {
  font-size: 22px;
  color: white;
}
.picture-container:hover .overlay {
  display: flex;
}

.picture-list-element {
  max-height: 300px;
}
.picture-list-element .img-container {
  max-height: 250px;
  overflow: hidden;
}

.picture-list .picture-list-element {
  cursor: pointer;
}

.logo-preview {
  justify-content: center;
  width: 100%;
  height: 250px;
  display: flex;
}

.section-title {
  width: 100%;
  font-size: 19px;
}

.section-subtext {
  width: 100%;
  font-size: 11px;
  color: #aeaeae;
  margin-bottom: 25px;
}

.settings-section {
  padding: 15px;
}

.section-form {
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 10px;
}
.section-form > div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.form-content .row {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 200px auto;
}

.generic-row.row {
  display: grid;
  gap: 10px;
  align-content: flex-end;
  grid-template-columns: repeat(8, 200px);
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section-form + .picture-list {
  max-height: 450px;
  overflow-y: scroll;
}
.section-form + .picture-list::-webkit-scrollbar {
  width: 15px;
  border-radius: 50px;
}
.section-form + .picture-list::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #eee;
}
.section-form + .picture-list::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.6666666667);
}
.section-form + .picture-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scroll {
  overflow-y: scroll;
}
.custom-scroll::-webkit-scrollbar {
  width: 15px;
  border-radius: 50px;
}
.custom-scroll::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #eee;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.6666666667);
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-page .row {
  display: grid;
}

.menu-element-row.row {
  grid-template-columns: 50px 150px 200px 100px 150px 150px 300px;
}

.social-home-row.row {
  grid-template-columns: 50px 200px 300px 300px;
}
.social-home-row.row > div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.social-home-row.row label {
  margin: 0;
  padding: 0;
  width: 100%;
}

.generic-list {
  padding: 15px;
}

.banners-row.row {
  grid-template-columns: 50px 150px 200px auto 200px 150px 200px 300px;
}

.category-row.row {
  display: grid;
  grid-template-columns: 50px 150px 150px 150px 150px 150px 300px;
}

.sliders-row.row {
  grid-template-columns: 50px 200px 250px 100px 300px auto;
}

.selected-banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.product-row.row {
  display: grid;
  grid-template-columns: 50px 100px 100px 100px auto repeat(5, 100px) 300px;
}

.form-top-container + div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.form-top-container + div.picture-list {
  display: flex;
  gap: 5px;
}

.generic-list .row {
  display: grid;
  padding: 5px 0;
}
.generic-list .row:hover {
  background-color: rgba(213, 222, 253, 0.4901960784);
}

.testimonial-row.row {
  grid-template-columns: 50px 200px 200px auto 70px 150px 150px 300px;
}

.gallery-row.row {
  grid-template-columns: 50px 150px auto auto 70px 100px 300px;
}

.social-row.row {
  display: grid;
  gap: 10px;
  align-content: flex-end;
  grid-template-columns: 50px 150px 200px 100px 100px 200px 300px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.gallery-pic-list .selected {
  border: 2px solid greenyellow;
}
.gallery-pic-list .not-selected {
  border: 2px solid transparent;
}

.current-pic-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
  height: unset !important;
}

.input-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.input-wrapper input[type=checkbox] {
  width: -moz-fit-content;
  width: fit-content;
}

.number-of-pics {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-comp {
  width: 100%;
}
.select-comp::-webkit-scrollbar {
  width: 5px;
}
.select-comp::-webkit-scrollbar-track {
  background: transparent;
}
.select-comp::-webkit-scrollbar-thumb {
  background: rgba(68, 68, 68, 0.6666666667);
}
.select-comp::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.6666666667);
}

.side-nav-separator {
  margin-top: 15px;
}

.input-wrapper {
  width: 100%;
}
.input-wrapper input {
  width: 100%;
}

a.normal-link {
  color: #0060ca !important;
  text-decoration: underline;
}

.react-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.react-page .card {
  padding: 25px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  max-width: 100%;
  height: 100%;
}

form.account-form {
  margin: 200px 0 400px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form.account-form button {
  margin-bottom: 20px;
}
form.account-form p {
  margin: 0;
  padding: 0;
}

.account-form-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-form-logo .img-container {
  width: -moz-fit-content;
  width: fit-content;
}

.tiny-editor + .tox.tox-tinymce {
  padding: 0;
}

form .btn,
.form-top-container .btn {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
form .btn-save,
.form-top-container .btn-save {
  background-color: #0060ce;
  color: #fff;
}
form .btn-save:hover,
.form-top-container .btn-save:hover {
  color: #fff;
  background-color: #0060ca;
}
form .btn-delete,
.form-top-container .btn-delete {
  background-color: #ff2958;
  color: #fff;
}
form .btn-delete:hover,
.form-top-container .btn-delete:hover {
  color: #fff;
  background-color: #ff2958;
}

.button-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.form-top-container {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}