form.account-form {
  margin: 200px 0 400px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form.account-form button {
  margin-bottom: 20px;
}
form.account-form p {
  margin: 0;
  padding: 0;
}

.account-form-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-form-logo .img-container {
  width: fit-content;
}
