*node_modules*
backend/PizzeriaAPI/.vs
backend/PizzeriaAPI/PizzeriaAPI/bin
backend/PizzeriaAPI/PizzeriaAPI/obj
backend/PizzeriaAPI/PizzeriaAPI/Logs
backend/PizzeriaAPI/PizzeriaFront/bin
backend/PizzeriaAPI/PizzeriaFront/obj
backend/PizzeriaAPI/PizzeriaFrontAdmin/obj
backend/PizzeriaAPI/PizzeriaFrontAdmin/bin
backend/PizzeriaAPI/PizzeriaFront/obj
