.rd-nav-item {
    position: relative;
    overflow: visible;

    .child-menu {
        width: 100%;
        top: 100%;
        min-width: fit-content;
        left: 0;
        position: absolute;
        display: none;
        grid-template-columns: 1fr;
        z-index: 10;
        background-color: #f5f5f5;

        li.child.rd-nav-item {
            margin-left: 0 !important;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            z-index: 11;
            min-width: 150px;

            a.rd-nav-link {
                width: 100%;
                min-width: 150px;
            }
        }
    }

    &:hover {
        .child-menu {
            display: grid;
        }
    }
}

.section.swiper-container {
    height: 753px;
}

.box-transform {}

.page-content-simple {
    width: 100%;

    &>div {
        margin: 0 auto;
        width: 98%;
        max-width: 1600px;

        p {
            text-align: left;
        }
    }

    ul,
    ul li {
        list-style: disc !important;
    }

    ol,
    ol li {
        list-style: decimal !important;
    }
}

.wps-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.wps-item {
    opacity: 0.4;

    &.slick-current {
        opacity: 1;
    }
}

.wps-quote {
    .slick-quote {
        .item {
            min-height: 300px;
        }
    }
}

.slick-slider {
    display: flex !important;
    justify-content: center;
    align-items: center;

    article {
        padding-top: 140px;
    }

    .slick-slide {
        padding: 0 20px;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }

    .slick-center {
        opacity: 1;

        article {
            padding-top: 80px;
        }

        .quote-tara .quote-tara-caption::before {
            top: -70px;
            bottom: 40px;
            background: #ffffff;
            box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.07);
        }

        .quote-tara-text {
            transform: translate3d(0, -80px, 0);
        }

        .quote-tara-figure {
            transform: translate3d(-50%, 0, 0);
            transition: all .3s ease .1s;
            visibility: visible;
            opacity: 1;
        }
    }

    .slick-arrow {
        position: absolute;
        top: 5px;
        z-index: 20;

        &.slick-prev {
            left: 20%;
        }

        &.slick-next {
            right: 20%;
        }
    }
}

.gallery-section {

    .gallery-row {
        display: grid;
        grid-template-columns: repeat(6, 311px);
        grid-template-rows: repeat(2, 289px);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        height: unset !important;
        grid-template-areas:
            "one two two three four four"
            "one two two five six seven";
        justify-content: center;
        align-items: stretch;
    }

    .grid-child {
        height: 100%;
        flex-grow: 1;
        justify-self: stretch;
    }

    .grid-child-1 {
        grid-area: one;
    }

    .grid-child-2 {
        grid-area: two;
    }

    .grid-child-3 {
        grid-area: three;
    }

    .grid-child-4 {
        grid-area: four;
    }

    .grid-child-5 {
        grid-area: five;
    }

    .grid-child-6 {
        grid-area: six;
    }

    .grid-child-7 {
        grid-area: seven;
    }

}

.list-category {
    display: grid !important;
    grid-template-columns: 1fr;

    li {
        text-transform: uppercase;
        cursor: pointer;
        padding: 16px;
        padding-left: 0px;
        width: 100%;
        border-bottom: 1px solid lightgrey;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0px;
            height: 2px;
            background-color: #6046b6;
            transition: all .3s;
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}

.product-list {
    padding: 25px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;

    .product-item {
        width: 100%;

        article {
            width: 100%;
            margin: 0;
            max-width: unset;
        }

        .base-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
    }
}