.rd-nav-item {
  position: relative;
  overflow: visible;
}
.rd-nav-item .child-menu {
  width: 100%;
  top: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  left: 0;
  position: absolute;
  display: none;
  grid-template-columns: 1fr;
  z-index: 10;
  background-color: #f5f5f5;
}
.rd-nav-item .child-menu li.child.rd-nav-item {
  margin-left: 0 !important;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 11;
  min-width: 150px;
}
.rd-nav-item .child-menu li.child.rd-nav-item a.rd-nav-link {
  width: 100%;
  min-width: 150px;
}
.rd-nav-item:hover .child-menu {
  display: grid;
}

.section.swiper-container {
  height: 753px;
}

.page-content-simple {
  width: 100%;
}
.page-content-simple > div {
  margin: 0 auto;
  width: 98%;
  max-width: 1600px;
}
.page-content-simple > div p {
  text-align: left;
}
.page-content-simple ul,
.page-content-simple ul li {
  list-style: disc !important;
}
.page-content-simple ol,
.page-content-simple ol li {
  list-style: decimal !important;
}

.wps-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.wps-item {
  opacity: 0.4;
}
.wps-item.slick-current {
  opacity: 1;
}

.wps-quote .slick-quote .item {
  min-height: 300px;
}

.slick-slider {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-slider article {
  padding-top: 140px;
}
.slick-slider .slick-slide {
  padding: 0 20px;
  opacity: 0.4;
}
.slick-slider .slick-slide:hover {
  opacity: 1;
}
.slick-slider .slick-center {
  opacity: 1;
}
.slick-slider .slick-center article {
  padding-top: 80px;
}
.slick-slider .slick-center .quote-tara .quote-tara-caption::before {
  top: -70px;
  bottom: 40px;
  background: #ffffff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.07);
}
.slick-slider .slick-center .quote-tara-text {
  transform: translate3d(0, -80px, 0);
}
.slick-slider .slick-center .quote-tara-figure {
  transform: translate3d(-50%, 0, 0);
  transition: all 0.3s ease 0.1s;
  visibility: visible;
  opacity: 1;
}
.slick-slider .slick-arrow {
  position: absolute;
  top: 5px;
  z-index: 20;
}
.slick-slider .slick-arrow.slick-prev {
  left: 20%;
}
.slick-slider .slick-arrow.slick-next {
  right: 20%;
}

.gallery-section .gallery-row {
  display: grid;
  grid-template-columns: repeat(6, 311px);
  grid-template-rows: repeat(2, 289px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: unset !important;
  grid-template-areas: "one two two three four four" "one two two five six seven";
  justify-content: center;
  align-items: stretch;
}
.gallery-section .grid-child {
  height: 100%;
  flex-grow: 1;
  justify-self: stretch;
}
.gallery-section .grid-child-1 {
  grid-area: one;
}
.gallery-section .grid-child-2 {
  grid-area: two;
}
.gallery-section .grid-child-3 {
  grid-area: three;
}
.gallery-section .grid-child-4 {
  grid-area: four;
}
.gallery-section .grid-child-5 {
  grid-area: five;
}
.gallery-section .grid-child-6 {
  grid-area: six;
}
.gallery-section .grid-child-7 {
  grid-area: seven;
}

.list-category {
  display: grid !important;
  grid-template-columns: 1fr;
}
.list-category li {
  text-transform: uppercase;
  cursor: pointer;
  padding: 16px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.list-category li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: #6046b6;
  transition: all 0.3s;
}
.list-category li:hover::before {
  width: 100%;
}

.product-list {
  padding: 25px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
}
.product-list .product-item {
  width: 100%;
}
.product-list .product-item article {
  width: 100%;
  margin: 0;
  max-width: unset;
}
.product-list .product-item .base-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.gallery-picture-list {
  padding: 25px 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: relative;
}
.gallery-picture-list .img-container {
  padding: 5px;
  border-radius: 2px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2666666667);
  cursor: pointer;
}

.react-page-container .image-preview {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2666666667);
  z-index: 10;
}
.react-page-container .image-preview .img-container {
  z-index: 11;
  max-width: 1000px;
  width: 100%;
  margin: 100px auto;
  left: 0;
  right: 0;
  position: absolute;
}