@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<partial name="_Header" />

<section class="section swiper-container swiper-slider swiper-slider-2 swiper-slider-3" data-loop="true" data-autoplay="5000" data-simulate-touch="false" data-slide-effect="fade"></section>


<partial name="_Footer" />
