@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @Html.TextArea("test", "", new { @class= "tiny-editor" })
</div>
<div class="row mt-4">
</div>
<div class="row my-4">
</div>