@page "/Login"
@model PizzeriaFrontAdmin.Pages.Account.LoginModel
@{
    ViewData["formClass"] = this.Model.IsError ? "account-form login-form error" : "account-form register-form";
}

<div class="account-form-logo row">
    <div class="img-container">
        <img src="/img/logo-198x66.png" />
    </div>
</div>
<div class="row">
    <form method="post" class="@ViewData["formClass"]">
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { type = "email", className = "form-control" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Password, new { type = "password", className = "form-control" })
        </div>
        <button type="submit">Zaloguj się</button>
        <p>Lub <a href="/Register">zarejestruj</a> nowe konto</p>
        <p>Nie pamiętasz hasła? <a href="/ResetPassword">Zresetuj hasło.</a></p>
    </form>

</div>


